* {
  font-family: sans-serif;
}

.header-app {
	font-size: 28px;
	padding-left: 126px;
}

.user-icon {
  display: block;
  width: 40px;
}

.formLabelStyle {
	font-size: 10px;
}

.uset-element-wrap {
  display: flex;
  position: relative;
  top: 50%;
  justify-content: left;

  align-items: center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.userFormbutton button {
	font-size: 9px;
}

.wrap-user-name {
  padding-left: 15px;
}

.user-name {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  height: 18px;
  line-height: 18px;
}

.userFormStyle label {
	font-size: 11px;
}

.user-works_tatus {
  display: inline;
  font-size: 10px;
  line-height: 18px;
}

.webix_view.user-info-template {
	border-right-color: #fff;
}

.user-info-block__name-text {
	font-size: 20px;
	text-align: left;
}

.user-info-wrap {
	display: flex;
	justify-content: left;
}

.user-info-wrap__photo {
	display: block;
	height: 150px;
	margin: 0;
}

.user-info-form-img {
	position: relative;
	display: block;
	height: 200px;
	margin: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}

.user-info-wrap__status {
	font-size: 16px;
	text-align: center;
}

.user-info-wrap__info-list {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	list-style: none;
	height: 150px;
	min-width: 300px;
}

.user-info-wrap__info-list-item {
	display: flex;
	justify-content: left;
	padding: 10px 10px 0;
}

.contact-icon {
	font-size: 18px;
}

.contact-name {
	margin-left: 5px;
	font-size: 15px;
}